{
	"bracketSpacing": true,
	"endOfLine": "lf",
	"insertPragma": false,
	"jsxSingleQuote": true,
	"jsxBracketSameLine": false,
	"printWidth": 80,
	"proseWrap": "preserve",
	"semi": false,
	"singleQuote": true,
	"trailingComma": "all",
	"useTabs": true
}
